html
  head
    title= title

    meta(chareset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    #main-content
    //- TODO: make this work for prod or dev
    script(src="http://localhost:3000/app.bundle.js")